{% extends 'base.html' %}
{% block title %} Рецепты {% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/pages/index.css">
{% endblock %}
{% block content %}
<main class="main container">
    {% include 'main_header.html' with title='Все рецепты' template='home' %}
    <div class="card-list">
        {% for recipe in page %}
            {% include 'recipes/card_recipe.html' with recipe=recipe %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
    {% include 'paginator.html' with page=page paginator=paginator %}
    {% endif %}
</main>
{% endblock %}