{% extends 'base.html' %}
{% block title %} Об авторе {% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/pages/single.css">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="single-card">
        <img src="/static/images/aboutme.png" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">About me</h1>
            </div>
            <div class="single-card__section">
                <p class=" single-card__section-text" align="justify">
                    Hey! I'm <strong>Alexx</strong>. Coding has changed my world. It's not just about apps.
                    Learning to code gave me problem-solving skills and a way to communicate with others on a technical level.
                    I can also develop websites and use my coding skills to get a better job.
                    And I learned it all at <a href="https://www.sololearn.com/"><strong>SoloLearn</strong></a>, <a href="https://praktikum.yandex.ru/"><strong>Yandex.Praktikum</strong></a>, <a href="https://www.jetbrains.com/academy/"><strong>JetBrains Academy</strong></a> and other, where they build your self-esteem and keep you motivated.
                    Join me in this rewarding journey. You'll have fun, get help, and learn along the way!
                </p>
                <p align="right"><strong>
                    "Declare variables, not war"</strong>
                </p>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">My skills</h3>
                <div class="single-card__items single-card__items_column">
                    <ul>
                        <li>Python<br /> <progress value="80" max="100"></progress></li>
                        <li>Django with REST<br /> <progress value="70" max="100"></progress></li>
                        <li>JavaScript<br /> <progress value="40" max="100"></progress></li>
                        <li>SQL<br /> <progress value="80" max="100"></progress></li>
                    </ul>
                    <ul>
                        <li>HTML/CSS<br /> <progress value="50" max="100"></progress></li>
                        <li>Docker<br /> <progress value="70" max="100"></progress></li>
                        <li>CI<br /> <progress value="50" max="100"></progress></li>
                        <li>Git<br /> <progress value="75" max="100"></progress></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
